* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #777;
}

:root{
    --darkestBlue: #1B32F5;     --darkBlue:#1C70FF;    --blue:#25A1E8;     --lightBlue:#1CE8FF;     --lightestBlue:#1BF5CF;
    --lightRed:#F71B1C ;
    --gold: #EBE817;
    --darkGold: #9E9C08;
}

html {
    background-color: var(--lightBlue);
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--darkestBlue);
    color: #fff;
    border-radius: 10px;
}

header h1 {
    text-align: center;
}

header nav{
    align-self: center;
    flex: 1 0 0;
    text-align: center;
    padding:10px;
    color:white;
    text-decoration: none;
}

nav ul{
    font-size: 150%;
    margin-bottom: 0px;
    text-align: right;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav li{
    display: inline;
}
nav a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--darkBlue);
    background-color: var(--gold);
    border-radius: 10px;
}
#aboutMe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


#aboutMe h3 {
    font-size: x-large;
    flex-direction: column;
    border-bottom:solid;
}

#aboutMe p {
    font-size: larger;
    text-align: center;
}

.Works {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#side-pic1, #side-pic2, #side-pic3, #mainCard {
    background-color: var(--lightestBlue);
    color: var(--darkGold);
    flex: 1 1 100px;
}

#pic0 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pic1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pic0 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
}
#pic1 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
}

#pic0 img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#pic1 img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

footer ul{
    list-style: none;
}


#hero {
    float: left;
    max-width: 600px;
    min-width: 300px;
    border-radius: 10px;
}

