* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #777
}

:root{
    --darkestBlue: #1B32F5;     --darkBlue:#1C70FF;    --blue:#25A1E8;     --lightBlue:#1CE8FF;     --lightestBlue:#1BF5CF;
    --lightRed:#F71B1C ;
    --gold: #EBE817;
    --darkGold: #9E9C08;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #13293d;
    color: #fff;
}

header nav{
    text-align: center;
    padding:10px;
    color:white;
    text-decoration: none;
}

nav ul{
    margin: 0px;
}

nav li{
    display: inline;
}
nav a {
    display: inline-block;
    padding: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: var(--darkBlue);
    background-color: var(--gold);
}
img {
    max-width: 600px;
    min-width: 300px;
}
header h1 {
    text-align: center;
}

header ul {
    margin-left: 5%;
    margin-bottom: 2%;
    font-size: 150%;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer ul{
    list-style: none;
}